<div class="community-container">
  <div class="community-header">
    <div class="header-text">
      <h1>{{'COMMUNITY.TITLE' | translate}}</h1>
      <p>{{'COMMUNITY.DESCRIPTION' | translate}}</p>
    </div>
    <div class="header-action">
      <button mat-flat-button color="primary" (click)="toggleForm()" class="new-post-btn">
        <mat-icon>add</mat-icon>
        {{ 'COMMUNITY.NEW_POST' | translate }}
      </button>
    </div>
  </div>

  <div class="post-form-container" *ngIf="isFormVisible">
    <mat-form-field appearance="fill" class="full-width">
      <textarea matInput rows="3" placeholder="{{ 'COMMUNITY.PLACEHOLDER_COMMENT' | translate }}" [(ngModel)]="newComment"></textarea>
    </mat-form-field>
    <div class="form-actions">
      <button mat-stroked-button color="warn" (click)="toggleForm()">{{ 'COMMUNITY.CANCEL' | translate }}</button>
      <button mat-flat-button color="primary" (click)="postRecommendation()" class="publish-btn">{{ 'COMMUNITY.PUBLISH' | translate }}</button>
    </div>
  </div>

  <div class="comment-section">
    <h2 class="comment-count">{{ (recommendations$ | async)?.length || 0 }} {{ 'COMMUNITY.COMMENTS' | translate }}</h2>
    <div class="recommendations-list">
      <div *ngFor="let rec of recommendations$ | async" class="recommendation-item">
        <p class="user-name">{{ rec.user }}</p>
        <p class="description">"{{ rec.description }}"</p>
      </div>
    </div>
  </div>
</div>
